<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <title>Pet</title>
</head>
<body>
  <div class="container mt-5">
    <h1><%= pet.name %></h1>
    <ul class="list-group">
      <li class="list-group-item"><h4>Name: <%= pet.name %></h4></li>
      <li class="list-group-item"><h4>Age: <%= pet.age %></h4></li>
      <li class="list-group-item"><h4>Breed: <%= pet.breed %></h4></li>
      <li class="list-group-item"><p>Description: <%= pet.description %></p></li>
      <li class="list-group-item">
        <img src="<%= pet.url %>" class="img-fluid align-item-center" alt="<%= pet.name %>">
      </li>
    </ul>
    <a href="/animals" class="btn btn-secondary mt-3">Back</a>
    <form action="/animals/<%= pet.id %>/delete" method="post" class="mt-3">
      <button type="submit" class="btn btn-danger">Delete Pet</button>
    </form>
  </div>
</body>
</html>
